.message {
  display: flex;
  flex-direction: column;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  color: #333;
  &.manager {
    background-color: #a4a4a4;
  }

  .headerMessage {
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    .date {
      font-weight: bold;
    }
  }
}
